PORT=8787
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/crust_corner?retryWrites=true&w=majority
JWT_SECRET=change-me-to-a-long-random-string
CLIENT_ORIGIN=https://play.thecrust.io
ALLOWED_ORIGINS=https://play.thecrust.io
SOLANA_RPC=https://api.devnet.solana.com
MINTER_SECRET_KEY=
NFT_NETWORK=devnet
